.issueUser {
    display: inline-flex;
    align-items: center;
}

.issueUser .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.issueUser .username {
    color: #555;
    font-size: 0.8rem;
    word-wrap: break-word;
    max-width: 100%;
}

.vertical {
    text-align: center;
    margin-right: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 80px;
    max-width: 80px;
}

.horizontal .username {
    display: inline;
    margin-left: 0.5rem;
}